node-red/data/.flows.json.backup
[{"id":"e1460b91.96ea08","type":"tab","label":"Kaa client","disabled":false,"info":""},{"id":"9c9d65fb.cf5ca8","type":"subflow","name":"Truck 1","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"a6578eb2.d1eb2"}]}],"out":[{"x":300,"y":40,"wires":[{"id":"a6578eb2.d1eb2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"be18dd9c.bf3cc","type":"mqtt-broker","z":"","name":"","broker":"mqtt.cloud.kaaiot.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92e7b39b.dfac7","type":"mqtt out","z":"e1460b91.96ea08","name":"","topic":"kp1/bqcrotq03p4cop6ifprg-v1/dcx/guille/json/56","qos":"0","retain":"true","broker":"be18dd9c.bf3cc","x":600,"y":160,"wires":[]},{"id":"a6578eb2.d1eb2","type":"function","z":"9c9d65fb.cf5ca8","name":"Truck 1","func":"var ts = msg.payload;\n\nvar temp = Math.round(Math.random()*100);\nvar fuel = Math.round(Math.random()*100);\nmsg.payload = [\n    {\"timestamp\": ts,\n    \"temperature\": temp,\n    \"latitude\": 37.35119,\n    \"longitude\": -122.03248,\n    \"fuelLevel\": fuel}\n    ];\nreturn msg;\n","outputs":1,"noerr":0,"x":180,"y":40,"wires":[[]]},{"id":"2cb8e9ca.bf5d46","type":"subflow:9c9d65fb.cf5ca8","z":"e1460b91.96ea08","name":"","env":[],"x":290,"y":160,"wires":[["92e7b39b.dfac7","a42eeee3.f50d8"]]},{"id":"72934559.9fd2fc","type":"inject","z":"e1460b91.96ea08","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["2cb8e9ca.bf5d46"]]},{"id":"2fdce6c1.325bca","type":"mqtt in","z":"e1460b91.96ea08","name":"","topic":"kp1/bqcrotq03p4cop6ifprg-v1/dcx/guille/json/56/status","qos":"0","datatype":"auto","broker":"be18dd9c.bf3cc","x":400,"y":400,"wires":[["fa3efcd0.f0156"]]},{"id":"fa3efcd0.f0156","type":"debug","z":"e1460b91.96ea08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":400,"wires":[]},{"id":"a42eeee3.f50d8","type":"debug","z":"e1460b91.96ea08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":300,"wires":[]}]